.content-card-header
  %h1.content-card-header-title
    Essentials
  %a.content-card-header-link{:href => "#"} Preview your Marketplace
.content-card-section-container
  %section.content-card-section
    %h2 Essentials
